.topics{
    height: 100%;
    overflow-y: auto;
    .top{
        width: 100%;
        height: 1.75rem;
        position: relative;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        overflow: hidden;
        >div{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
        }
        >h1{
            font-size: .34rem;
            color: #fff;
            line-height: 1.4;
            margin: 0 .16rem;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-top: .64rem;
            position: relative;
            z-index: 1;
        }
        >ul{
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            bottom: 0;
            li{
                border-bottom: .02rem solid transparent;
                height: .44rem;
                color: #fff;
                font-weight: 500;
                line-height: .44rem;
                &.active{
                    border-bottom: .02rem solid white;
                }
            }
        }
    }
    .list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        >a{
            position: relative;
            margin: .04rem 0 0;
            &.big{
                width: 100%;
                padding-bottom: 53.333333333333336%;
            }
            &.small{
                width: 49.46666%;
                padding-bottom: 33.33333333333333%;
            }
            div{
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            >span{
                position: absolute;
                top: .05rem;
                right: .05rem;
                height: .15rem;
                background-color: #000;
                opacity: .6;
                color: #fff;
                border-radius: .02rem;
                font-size: .1rem;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .02rem;
            }
            
        }
    }
}