@import '../../style/usage/core/reset.scss';

.videos{
    background: white;
    height: 100%;
    overflow-y: auto;
    .top{
        width: 100%;
        height: .51rem;
        @include flexbox();
        flex-direction: fow;
        justify-content: space-between;
        align-items: center;
        padding: 0 .16rem;
        >a{
            width: 1.45rem;
            height: 100%;
            @include flexbox();
            align-items: center;
            color: black;
            img{
                width: .35rem;
                height: .35rem;
                border-radius: 100%;
            }
            p{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: .14rem;
                font-weight: 600;
                margin-left: .1rem;
            }
        }
        >button{
            width: .56rem;
            height: .3rem;
            background-color: #f7f7f7;
            color: #1088f2;
            @include flexbox();
            justify-content: space-around;
            border: none;
            font-size: .12rem;
        }
    }
    .show{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        >a{
            width: 100%;
            height:2.11rem;
            position: relative;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    .info{
        width: 100%;
        height: auto;
        min-height: .8rem;
        padding: 0 .16rem;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        div:nth-of-type(1){
            display: flex;
            align-items: center;
            height: .53rem;
            border-bottom: 1px solid #ececec;
            padding: .16rem 0;
            font-size: .12rem;
            a{
                margin-right: .2rem;
                color: #838385;
                font-size: .12rem;
                display:flex;
                align-items: center;
                i{
                    font-family: "iconfont";
                    font-size: .2rem;
                    margin-right: .05rem;
                    color: #838385;
                }
            }
        }
        div:nth-of-type(2){
            display: flex;
            align-items: center;
            margin-top: .24rem;
            margin-bottom: .08rem;
            line-height: 1.2;
            img{
                width: .24rem;
                height: .24rem;
            }
            span{
                margin-left: .05rem;
                font-size: .17rem;
                font-weight: 600;
                word-wrap: break-word;
            }
        }
        div:nth-of-type(3){
            display: flex;
            font-size: .12rem;
            margin-bottom: .16rem;
            color: #b5b5b5;
            p:last-child{
                margin-left: .2rem;
            }
        }
        div:nth-of-type(4){
            font-size: .14rem;
            color: #838385;
            white-space: pre-wrap;
            word-break: break-word;
        }
    }

}